nav img{
    max-width: 64px;
    max-height: 64px;
    object-fit: scale-down;
    border-radius: 50%;
}
#code{
    width: 98%;
    min-height: 280px;
    border-radius: 11px;
    border: 1px solid gray;
    outline: none;
}
main{
    text-align: center;
}
#buttons{
    display: flex;
    justify-content: space-evenly;
}
#buttons button{
    width: 40%;
    border-radius: 12px;
    border: 0px;
    padding: 12px;
}
#remove{
    background-color: red;
    color: white;
}
#play{
    background-color: rgb(11, 87, 11);
    color: white;
}
#title-ruselt{
    padding: 10px;
    border-bottom: 2px solid gray;
    margin: 50px 0px;
    font-weight: 700;
}
#ruslet{
    max-width: 100%;
}

